<%= form_with(model: video_call, local: true) do |form| %>
  <% if video_call.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video_call.errors.count, "error") %> prohibited this video_call from being saved:</h2>
      <ul>
        <% video_call.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :reason, "Reason for call" %>
    <%= form.text_field :reason, class: 'form-control' %>
  </div>
  <div class="form-group">
    <% if video_call.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', video_call, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
    <%= form.submit "Start Call", class: 'btn btn-primary' %>
    <% if video_call.persisted? %>
      <%= link_to "Cancel", video_call, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", root_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
