<div class="card mr-4 mb-4" id="<%= dom_id(video_call) %>">
  <div class="card-body">
    <h5 class="card-title">
      <span class="badge badge-primary">Reason for call</span>
      <br/>
      <%= video_call.reason %>
    </h5>
    <p class="card-text">
      <span class="badge badge-light">Requested <%= time_ago_in_words(video_call.created_at) %> ago</span>
    </p>
    <hr/>
    <%= link_to video_call_path(video_call) do %>
      Go to waiting room <span><i class="fa fa-external-link-square-alt" aria-hidden="true"></i></span>
    <% end %>
    |
    <%= link_to video_call_path(video_call), method: :delete do %>
      Cancel
    <% end %>
  </div>
</div>
