<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body class="<%= controller_name.gsub(/_controller$/, '').dasherize %> <%= action_name %>">
    <% unless is_mobile_app? %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= render 'shared/notices' %>
    <div class="container">
      <%= yield %>
    </div>
    <% unless is_mobile_app? %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
