<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body class="<%= controller_name.gsub(/_controller$/, '').dasherize %> <%= action_name %>">
    <% unless is_mobile_app? %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= render 'shared/notices' %>
    <div class="container">
      <%= yield %>
    </div>
    <% unless is_mobile_app? %>
      <%= render 'shared/footer' %>
    <% end %>
    <% if Rails.env.development? %>
      <div style="display: none; position: fixed; bottom: 10px; right: 10px; z-index: 100;">
        Active Connections: <%= ActionCable.server.connections.length %>
      </div>
    <% end %>
  </body>
</html>
